#SERVER
PORT=8011
NODE_ENV=development

#AUTH
PASS=nest_starter@api
BcryptHashRound=11
JWT_SECRET=669e081f0821d394b54b7dbad62a6e429df0fee54f905e9d1c7de1dab373a57cd4e4c871245b58ceb2a788451c9b95a3ffbbb803fb0818e566041fe10482b281
REFRESH_SECRET_TOKEN=06788ed74c52baf6ecff2876caa01619f03ca1b11b872ad1f182728d3694f227c22b35dc775ac634cd88e1c17fa80fface0cf30127b34dc8cfed063a240db46c

#URLS
UPLOADED_FILES_DESTINATION=./uploaded-file
WEBSITE_DOMAIN=
RESET_PASSWORD_URL=accounts/update-password
LOGIN_URL=login
CORS_ORIGINS=http://localhost:4000,http://localhost:4001,https://hvac.betechplc.com,https://hvacdash.betechplc.com,https://617hvac.betechplc.com

#DATABASE
DATABASE_SCHEMA='public'
DATABASE_PORT=5432
DATABASE_NAME='nest_starter'
DATABASE_HOST='localhost'
DATABASE_USERNAME='biruk'
DATABASE_PASSWORD='postgres'
DATABASE_URL='postgresql://nest_starter:vWh4vGWDyfI69bYOc5LiwVrA7DlcbAaP@dpg-ctm60j9opnds73fd7870-a.oregon-postgres.render.com/nest_starter_db'

#EMAIL
EMAIL_IS_SECURE=true
EMAIL_HOST=mail.nest_starter.com
EMAIL_PORT=465
EMAIL_USER=nest_starter@nest_starter.com
EMAIL_PASSWORD=123
REQUEST_NOTIFICATION_EMAIL=service@617hvac.com

#RABBIT_MQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

#APP
LoginUrl=https://trans.linqsolutions.co/login
APP_URL=https://linqsolutions.co
COMPANY_NAME='Linq Solutions'
LOGO_URL='https://linqsolutions.co/assets/img/logo/linq_logo.png'
MAX_FILE_SIZE=4
API_URL=https://nest_starter-api.onrender.com/

#VEHICLE DATA
AUTO_DEV_API_KEY=
AUTO_DEV_API_BASE_URL=https://api.auto.dev
CAR_IMAGES_API_BASE_URL=https://carimagesapi.com

#GOOGLE KEYS
GOOGLE_DISTANCE_API=
GOOGLE_DISTANCE_API_URL=https://maps.googleapis.com/maps/api/distancematrix/json?origins=${origin}&destinations=${destination}&key=${apiKey}
GEO_LOCATOR_BASE_URL='https://maps.googleapis.com/maps/api/geocode/json'
FIREBASE_AUTHORIZATION_KEY=

#AFRO
AFRO_API_KEY=1234sdf
AFRO_SENDER_NAME=nest_starter
AFRO_IDENTIFIER_ID=123
AFRO_BASE_URL="https://api.afromessage.com/api"
AFRO_SPACE_BEFORE_OTP=1
AFRO_SPACE_AFTER_OTP=0
AFRO_OTP_EXPIRES_IN_SECONDS=300
AFRO_OPT_LENGTH=6
AFRO_OTP_TYPE=0

#MINIO
MINIO_ENDPOINT='192.168.1.20'
MINIO_ACCESS_KEY='minioadmin'
MINIO_SECRET_KEY='minioadmin'
MINIO_PORT=9000
MINIO_BUCKET_NAME=nest_starter
MINIO_UNIT_FOLDER='unitDocuments'
MINIO_TENANT_FOLDER='tenantDocuments'
MINIO_OWNER_FOLDER='ownerDocuments'
MINIO_LEASE_FOLDER='leaseDocuments'

#BOLD SIGN
BOLD_SIGN_API_KEY=""
BOLD_SIGN_BASE_PATH=https://api.boldsign.com/v1

#CHAT GPT
CHATGPT_URL='https://api.openai.com/v1/engines/davinci-codex/completions'
CHATGPT_API_KEY=''

